<!Doctype html>
<html lang="en" dir="ltr">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <base href="/">
    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Polyboot - An efficient network stress testing tool">
    <meta name="author" content="Niveus">
    <meta name="keywords" content="booter, ddos, stresser, ip booter, ip stresser, stress testing">

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="images/brand/favicon.ico" />

    <!-- TITLE -->
    <title>Polyboot - FAQ</title>

    <!-- BOOTSTRAP CSS -->
    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/boxed.css" rel="stylesheet"/>
    <link href="css/dark-boxed.css" rel="stylesheet"/>
    <link href="css/skin-modes.css" rel="stylesheet"/>

    <!--C3 CHARTS CSS -->
    <link href="plugins/charts-c3/c3-chart.css" rel="stylesheet"/>


    <!-- CUSTOM SCROLL BAR CSS-->
    <link href="plugins/p-scroll/perfect-scrollbar.css" rel="stylesheet"/>

    <!-- SELECT2 CSS -->
    <link href="plugins/select2/select2.min.css" rel="stylesheet"/>

    <!--- FONT-ICONS CSS -->
    <link href="plugins/icons/icons.css" rel="stylesheet"/>

    <!-- Switcher css -->
    <link  href="switcher/css/switcher.css" rel="stylesheet" id="switcher-css" type="text/css" media="all"/>
    <link  href="switcher/css/demo.css" rel="stylesheet"/>

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="colors/color1.css" />


</head>
<body class="dark-mode">
<!-- End Switcher -->

<!-- GLOBAL-LOADER -->
<div id="global-loader">
    <img src="images/loader.svg" class="loader-img" alt="Loader">
</div>
<!-- /GLOBAL-LOADER -->

<!-- PAGE -->
<div class="page">

    <div class="page-main">

        <!--APP-SIDEBAR-->
        <div class="header hor-header">
            <div class="container">
                <div class="d-flex">
                    <div class="">
                        <a class="header-brand header-brand1" href="/dashboard">
                            <h2>Polyboot</h2>
                        </a><!-- LOGO -->
                    </div>
                    <a class="animated-arrow hor-toggle horizontal-navtoggle"><span></span></a>
                    <div class="d-flex  ml-auto header-right-icons">
                        <div class="dropdown d-md-flex">
                            <a class="nav-link icon full-screen-link nav-link-bg">
                                <i class="fe fe-minimize fullscreen-button"></i>
                            </a>
                        </div><!-- FULL-SCREEN -->
                        <div class="dropdown profile-1">
                            <a href="#" data-toggle="dropdown" class="nav-link pr-2 leading-none d-flex">
                                <span>
                                    <img src="images/users/15.jpg" alt="profile-user" class="avatar  profile-user brround cover-image">
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <div class="drop-heading">
                                    <div class="text-center">
                                        <h5 class="text-dark mb-0">{{ username }}</h5>
                                        <small class="text-muted">User</small>
                                    </div>
                                </div>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item" href="/profile">
                                    <i class="dropdown-icon mdi mdi-account-outline"></i> Profile
                                </a>
                                <div class="dropdown-divider mt-0"></div>
                                <a class="dropdown-item" href="/faq">
                                    <i class="dropdown-icon mdi mdi-compass-outline"></i> Need help?
                                </a>
                                <a class="dropdown-item" id="logout">
                                    <i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--APP-SIDEBAR-->                <!--/Horizontal-main -->
        <div class="sticky">
            <div class="horizontal-main hor-menu clearfix">
                <div class="horizontal-mainwrapper container clearfix">
                    <!--Nav-->
                    <nav class="horizontalMenu clearfix">
                        <ul class="horizontalMenu-list">
                            <li aria-haspopup="true"><a href="/dashboard" class="sub-icon"><i class="fe fe-airplay"></i> Dashboard</a></li>
                        </ul>
                        <ul class="horizontalMenu-list">
                            <li aria-haspopup="true"><a href="/pricing" class="sub-icon"><i class="fe fe-dollar-sign"></i> Pricing</a></li>
                        </ul>
                        <ul class="horizontalMenu-list">
                            <li aria-haspopup="true"><a href="/claim" class="sub-icon"><i class="fe fe-check"></i> Claim license</a></li>
                        </ul>
                        <ul class="horizontalMenu-list">
                            <li aria-haspopup="true"><a href="/stresser" class="sub-icon"><i class="fe fe-database"></i> Stresser</a></li>
                        </ul>
                        <ul class="horizontalMenu-list">
                            <li aria-haspopup="true"><a href="/faq" class="sub-icon"><i class="fe fe-help-circle"></i> FAQ</a></li>
                        </ul>
                        <ul class="horizontalMenu-list">
                            <li aria-haspopup="true"><a href="https://discord.gg/zrrSTFTQCa" class="sub-icon"><i class="fe fe-message-circle"></i> Discord</a></li>
                        </ul>
                        {{#if rank}}
                            <ul class="horizontalMenu-list">
                                <li aria-haspopup="true"><a href="/admin/dashboard" class="sub-icon"><i class="fe fe-user-check"></i> Admin</a></li>
                            </ul>
                        {{/if}}
                    </nav>
                    <!--Nav-->
                </div>
            </div>
        </div>
        <!--/Horizontal-main -->                <!-- Mobile Header -->
        <div class="mobile-header">
            <div class="container-fluid">
                <div class="d-flex">
                    <a class="animated-arrow hor-toggle horizontal-navtoggle"><span></span></a>
                    <a class="header-brand header-brand1" href="/dashboard">
                        <h2>Polyboot</h2>
                    </a><!-- LOGO -->
                    <div class="d-flex order-lg-2 ml-auto header-right-icons">
                        <button class="navbar-toggler navresponsive-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                                aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon fe fe-more-vertical text-white"></span>
                        </button>
                        <div class="dropdown profile-1">
                            <a href="#" data-toggle="dropdown" class="nav-link pr-2 leading-none d-flex">
										<span>
											<img src="assets/images/users/15.jpg" alt="profile-user" class="avatar  profile-user brround cover-image">
										</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <div class="drop-heading">
                                    <div class="text-center">
                                        <h5 class="text-dark mb-0">Devid Antoni</h5>
                                        <small class="text-muted">Administrator</small>
                                    </div>
                                </div>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon mdi mdi-account-outline"></i> Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon  mdi mdi-settings"></i> Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="float-right"></span>
                                    <i class="dropdown-icon mdi  mdi-message-outline"></i> Inbox
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon mdi mdi-comment-check-outline"></i> Message
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon mdi mdi-compass-outline"></i> Need help?
                                </a>
                                <a class="dropdown-item" href="login.html">
                                    <i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
                                </a>
                            </div>
                        </div>
                        <div class="dropdown d-md-flex header-settings">
                            <a href="#" class="nav-link icon " data-toggle="sidebar-right" data-target=".sidebar-right">
                                <i class="fe fe-align-right"></i>
                            </a>
                        </div><!-- SIDE-MENU -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /Mobile Header -->
        <!--app-content open-->
        <div class="app-content">
            <div class="container">


                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <ol class="breadcrumb"><!-- breadcrumb -->
                        <li class="breadcrumb-item"><a href="#"><h3 class="mb-0 breadcrump-tittle">Welcome To Polyboot</h3></a></li>
                    </ol><!-- End breadcrumb -->
                </div>
                <!-- PAGE-HEADER END -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="font-weight-semibold">Am i allowed to share my account?</h4>
                                <p>Yes, you can share your account. However we will not help you restore it if the password gets changed.</p>
                            </div>
                            <div class="card-body">
                                <h4 class="font-weight-semibold">Can attacks be traced back to me?</h4>
                                <p>No, our servers use spoofing (ip header modification). Attacks are untracable</p>
                            </div>
                            <div class="card-body ">
                                <h4 class="font-weight-semibold">How Can I contact?</h4>
                                <p>You can contact us on discord Niveus#9821 or telegram @Rayan1159</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- CONTAINER END -->
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-md-12 col-sm-12 text-center">
                    Copyright © 2021 <a href="#">Polyboot</a>. Designed by <a href="#"> Niveus </a> All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->
    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JQUERY JS -->
    <script src="plugins/jquery/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#logout').on('click', () => {
                $.ajax('post/logout', {
                    type: 'POST'
                });
                window.location = '/login';
            });
        })
    </script>


    <!-- BOOTSTRAP JS -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="plugins/bootstrap/js/popper.min.js"></script>

    <!-- SPARKLINE JS-->
    <script src="plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

    <!-- CHART-CIRCLE JS-->
    <script src="plugins/circle-progress/circle-progress.min.js"></script>

    <!-- RATING STARJS -->
    <script src="plugins/rating/jquery.rating-stars.js"></script>

    <!--HORIZONTAL JS-->
    <script src="plugins/horizontal-menu/horizontal-menu.js"></script>

    <!-- CUSTOM SCROLLBAR JS-->
    <script src="plugins/p-scroll/perfect-scrollbar.js"></script>
    <!-- <script src="https://laravel.spruko.com/flaira/ltr/assets/plugins/p-scroll/p-scroll.js"></script> -->
    <script src="plugins/p-scroll/p-scroll-1.js"></script>

    <!-- SIDEBAR JS -->
    <script src="plugins/sidebar/sidebar.js"></script>

    <!-- SELECT2 JS -->
    <script src="plugins/select2/select2.full.min.js"></script>



    <!-- Moment js-->
    <script src="plugins/moment/moment.min.js"></script>

    <!-- FLOT CHART JS -->
    <script src="plugins/jquery.flot/jquery.flot.js"></script>
    <script src="plugins/jquery.flot/jquery.flot.pie.js"></script>
    <script src="plugins/jquery.flot/jquery.flot.resize.js"></script>
    <script src="js/chart.flot.sampledata.js"></script>

    <!-- PIETY CHART JS-->
    <script src="plugins/peitychart/jquery.peity.min.js"></script>
    <script src="plugins/peitychart/peitychart.init.js"></script>

    <!-- ECHART JS-->
    <script src="plugins/echarts/echarts.js"></script>

    <!-- CHARTJS CHART JS-->
    <script src="plugins/chart/Chart.bundle.js"></script>
    <script src="plugins/chart/utils.js"></script>

    <!-- DATEPICKER JS -->
    <script src="plugins/date-picker/spectrum.js"></script>
    <script src="plugins/date-picker/jquery-ui.js"></script>

    <!-- APEXCHART JS -->
    <script src="js/apexcharts.js"></script>

    <!-- INDEX JS -->
    <script src="js/index1.js"></script>


    <!-- Switcher js -->
    <script src="switcher/js/switcher.js"></script>

    <!-- CUSTOM JS -->
    <script src="js/custom.js"></script>
</div>

</body>
</html>